body{
    font-family: 'VT323', monospace;
    text-align: center;
}

#title{
    font-size: 70px;
}

.bot-win-style{
    font-size: 22px ;
}

.game-button{
    width: 120px;
    height: 120px;
    margin-left:5px;
    margin-right:5px;
    background-color:transparent;
    border-radius: 50%;
    border-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-image{
    width: 100px;
    height: 100px;
}
.rock-btn:hover{
    border-color:lightgoldenrodyellow ;
    border-width: 5px;
}
.paper-btn:hover{
    border-color:lightseagreen ;
    border-width: 5px;
}
.scissors-btn:hover{
    border-color:lightcoral ;
    border-width: 5px;
}
.lizard-btn:hover{
    border-color:lightgreen ;
    border-width: 5px;
}
.spock-btn:hover{
    border-color:lightskyblue ;
    border-width: 5px;
}

.your-score-style{
    font-size: 20px ;
    color: darkcyan; 
}
.bot-score-style{
    font-size: 20px ;
    color: darkgoldenrod;
}

.retry-btn{
    width: 70px;
    height: 40px;
    font-family:'VT323', monospace;
    font-size: large;
    margin-top: 50px;
    background-color: lightpink;
    border-width: 2px;
}

@media (max-width: 500px) {
    #title {
        font-size: 45px;
    }
}

@media (max-width: 300px) {
    #title {
        font-size: 25px;
    }
    .game-button {
        width: 60px;
        height: 60px; 
    }
    .button-image{
        width: 50px;
        height: 50px;
    }

    h1{
        font-size: 15px;
    }
    .retry-btn{
        width: 40px;
        height: 25px;
        font-size: small;
    }
    .bot-win-style{
        font-size: 11px ;
    }
    .your-score-style{
        font-size: 10px ;
    }
    .bot-score-style{
        font-size: 10px ;
    }
}